/* Add the Playwrite font to the global styles */

  
  /* Specific styles for the Home section */
  .home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
    font-weight: 400;
    margin-bottom: 10px;
    color: #0aa1dd;
    background: -webkit-linear-gradient(#c42bee, #120416);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Playfair Display', serif;
  }
  
  .pp{
    font-weight: 400;
    margin-bottom: 10px;
    background: -webkit-linear-gradient(#1a131d, #bf00f4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
